@model CreateUserViewModel
@{
    Layout = null;
}
@if(TempData["message"] != null) {
    <div class="alert aler-warning">
        @TempData["message"]
    </div>
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/Login.css">
    <title>Register Page</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-in">
            <form asp-controller="Account" asp-action="Register" method="post">
                <div asp-validation-summary="All"></div>
                <h1>Create a Account</h1>
                <input asp-for="UserName" placeholder="Username:">
                <input asp-for="FullName" placeholder="Name:">
                <input asp-for="Email" placeholder="Email:">
                <input asp-for="Password" placeholder="Password:">
                <input asp-for="ConfirmPassword" placeholder="Password (Again):">
                <button type="submit">Sign up</button>
            </form>
        </div>    
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Welcome!</h1>
                    <p>Sign in to use all site features.</p>
                    <a asp-controller="Account" asp-action="Login"><button class="hidden" id="login">Sign In</button></a>
                </div>               
            </div>
        </div>
    </div>
</body>
</html>