@model ProductCategory
@{
    Layout = "_DashboardLayout";
}
<p>
    Do you want to delete the <b>"@Model.CategoryContext"</b> category?

   <form asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.ProductCategoryId">
    <button type="submit">Yes</button>
    <a asp-action="Index">No</a>
   </form>
</p>